.BlogContainer {
    text-align: center;
    padding: 20px; 
  }
  
  .BlogTitle {
    color: rgb(255, 255, 255);
  }

  .FiltersAndButton {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-right: 20px; 

    .Filters {
      select.SortingDropdown {
        background-color:  rgb(251, 197, 96); 
        color: rgb(0, 0, 0); 
        padding: 8px; 
        border: none; 
        border-radius: 4px; 
        font-size: 14px;
        margin-bottom: 10px; 
      }
    }

    .LatestPostsButton {
      background-color: rgb(251, 197, 96); 
      color: rgb(0, 0, 0);
      padding: 8px 16px; 
      border: none; 
      border-radius: 4px; 
      font-size: 14px; 
      cursor: pointer; 
    }
  }
  
  .NoPosts {
    font-style: italic;
    color: gray;
  }

  .PostTitle{
    color: rgb(255, 255, 255);
    font-size:large;
  }
  
  .PostList {
    list-style-type: none; 
    padding: 0;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  .PostItem {
    text-align: center; 
  }
  
  .PostImage {
    max-width: 30%; 
    border: 2px solid #ccc; 
  }
  
  .PostDescription {
    margin-top: 10px; 
  }
  