.BlogContainer {
    text-align: center; /* Center-align the entire container */
    padding: 20px; /* Add some padding for spacing */
  }
  
  .BlogTitle {
    color: blue;
  }

  .FiltersAndButton {
    display: flex;
    flex-direction: column;
    align-items: flex-end; // Align elements to the right
    margin-right: 20px; // Add some right margin for spacing

    .Filters {
      select.SortingDropdown {
        background-color: rgb(101, 101, 128); // Use your desired grey color
        color: greenyellow; // Use your desired text color
        padding: 8px; // Adjust padding as needed
        border: none; // Remove the border or style it as desired
        border-radius: 4px; // Add border-radius for a rounded look
        font-size: 14px; // Adjust font size as needed
        margin-bottom: 10px; // Add some bottom margin for spacing
      }
    }

    .LatestPostsButton {
      background-color: orange; // Use your desired grey color
      color: green; // Use your desired text color
      padding: 8px 16px; // Adjust padding as needed
      border: none; // Remove the border or style it as desired
      border-radius: 4px; // Add border-radius for a rounded look
      font-size: 14px; // Adjust font size as needed
      cursor: pointer; // Add pointer cursor to indicate interactivity
    }
  }
  
  .NoPosts {
    font-style: italic;
    color: gray;
  }

  .PostTitle{
    color: pink;
    font-size:large;
  }
  
  .PostList {
    list-style-type: none; /* Remove list bullets */
    padding: 0;
    display: flex; /* Display posts horizontally */
    justify-content: center; /* Center-align posts horizontally */
    flex-wrap: wrap; /* Wrap posts to the next line if they don't fit */
    gap: 20px; /* Add space between posts */
  }
  
  .PostItem {
    text-align: center; /* Center-align individual posts */
  }
  
  .PostImage {
    max-width: 30%; /* Ensure images fit within their containers */
    border: 2px solid #ccc; /* Add a border around images */
  }
  
  .PostDescription {
    margin-top: 10px; /* Add space between image and text */
  }
  