
.AboutTex {
    text-align: center;
}

.AboutDogandUs {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    width: 50%;
    margin: 0 auto; 
  }
  
  .AboutDogandUs img {
    max-width: 100%; 
    border-radius: 10px;
  }
  
  .AboutDogandUsText {
    color: rgb(255, 255, 255);
    margin-top: 20px;
  }
  